* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  height: 100vh;
}

body {
  position: relative;
}

h1 {
  font-size: 1.5rem;
}

#add-event-form-container {
  flex-direction: column;
  width: 300px;
  position: absolute;
  right: 2rem;
  top: 0;
  background: white;
}

#add-event-form {
  flex-direction: column;
}

.add-event-form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.add-event-form-input {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.popup-div {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
}

.anotherContainer {
  position: relative;
}

.hidden {
  display: none;
}
